html {
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../galeria/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: .2s;
    
}

figure{
    width: 200px;
}


/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --black-color: rgb(22, 57, 89);
  --black-color-light: rgb(19, 51, 79);
  --black-color-lighten: rgb(17, 45, 71);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


b{
  color:#e5ff00
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: #000;;
  border-bottom:solid #34f200;
  border-top:solid #34f200;
  z-index: var(--z-fixed);
}

.menu {
    padding: 10px 0px;
    color:#fff;
    z-index: 5;

}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__burger, .nav__close {
  color: var(--white-color);
  z-index: 50;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img{
  width: 20%;
  padding-top: 50px;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 100;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

a.nav__link{
  padding: 20px;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
    z-index: 50;
    }
    .nav__menu::-webkit-scrollbar {
        width: 0;
    }
    .nav__list {
        background-color: #000;
        padding-top: 1rem;
    }
}

.nav__link {
    color: var(--white-color);
    background-color: #000;
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    margin-top:20px;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}



a.nav__link:hover {
  background-color: #41a628;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: #1d1c1c;
  border-right:solid #34f200;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
  
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: #34f200;
  color:#000;
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/

@media screen and (max-width:640px){
    .nav__logo{
      width: 260px;
      padding-bottom: 30px;
  }

    .header{
      height: 70px;
  }
}

/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
    
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}

@media screen and (max-width: 1118px){
  .nav__logo{
    width: 330px;
  }
}

.title-fotosLMGSM{
  padding: 150px 0 60px ;
  text-align: center;
}

.galery-container{
    display:grid;
    padding: 30px 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:20px;
}

.galery-container img{
    filter: blur(0.5px);
    z-index: 1;
}

.galery-container img:hover{
    cursor:pointer;
    transform: scale(0.3px);
    filter:brightness(0.5px);
}

.container-img{
    position:fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateX(-100%);
    transition:transform .4s ease-in;
    z-index: 3;
}

.container-img img{
    filter: blur(0.1px);
    filter:brightness(0.8);
}

.move{
    transform: translateX(0);
}

.img-show{
    height: 80%;
    display: block;
    object-fit: contain;
    padding-top: 80px;
    transform:scale(0);
    transition:transform .2s .4s;
}

.show{
    transform: scale(1);
}

.copy{
    position: fixed;
    color:#fff;
    text-decoration:overline #fff;
    bottom:30px;
    font-size: 25px;
    font-weight: 500;
}

.bx.bx-x{
    position: absolute;
    color:#fff;
    top:120px;
    right: 10px;
    font-size: 60px;
    cursor:pointer;
    z-index: 20;
}

.content {
    padding: 40px;
    text-align: justify;
}

.menu button {
    display: none;
}

.btnWP{
    position: fixed;
    width: 55px;
    right:30px ;
    color:#fff;
    bottom:30px;
    text-align: center;
    z-index: 100;
    padding: 6px;
    transition-duration: .3s;
}

.btnWP:hover{
    color:#34f200
}

.btnWP:active{
    transform: scale(1.2);
}

.iconWP{
    height: 45px;
    width: 45px;
}

.btnCursos{
    text-decoration: none; 
    color:#fff;
    border:solid #34f200;
    padding: 10px 40px;
    border-radius: 5px;
    transition-duration: .2s;
}

.btnCursos:hover{
    background-color: #32c808;
}

.btnCursos:active{
    transform: scale(1.1);
}

.btn-cursos-container{
    display: flex;
    padding:10px 0 20px 0 ;
    justify-content: space-around;
    align-items: center;
}

.tituloCursos{
    text-align: center;
    padding: 0px 0 0;
    filter: 0 0 10px #34f200;
}



/* FOTOSLMGSM>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.galeryLMGSM-container{
    padding: 200PX 60px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap:30px;
}

.galeryLMGSM-item{
    width: 300px;
    height: 200px;
    transition: all ease-in .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:solid #fff;
}

.galeryLMGSM-item h3{
    margin:4px;
}

.galeryLMGSM-item-a{
    text-decoration: none;
    color: #fff;
}

.galeryLMGSM-item1{
    background-image: url(../galeria/fotosLMGSM/Foto_1raSalidaTerrano.webp);
    background-size: cover;
}

.galeryLMGSM-item2{
    background-image: url(../galeria/fotosLMGSM/Foto_25deMayo__2doGrado.webp);
    background-size: cover;
}

.galeryLMGSM-item3{
    background-image: url(../galeria/fotosLMGSM/Foto_25deMayo_Jardin.webp);
    background-size: cover;
}

.galeryLMGSM-item4{
    background-image: url(../galeria/fotosLMGSM/Foto_29deMayo.webp);
    background-size: cover;
}

.galeryLMGSM-item:hover{
    transform: scale(1.05);
}





/* RESPONSIVE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (max-width: 768px) {
    .menu {
        height: 100%;
        padding: 0px 40px;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: 0.5s;
        box-shadow:#34f200 0px 1px 20px;
    }

    .menu-content img{
        width: 100%;
        object-fit: cover;
    }

    .menu-activo {
        transform: translateX(0%);
    }

    .menu button {
        display: block;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        transform: translateX(345px);
    }

    .menu-content{
            position: static;
        }
        .content {
            padding: 20px 40px;
        }
    
        .galery-index-container{
            gap:5px
        }

        .btnCursos{
            padding: 5px 10px;
        }

        .galery-container{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
        }
}